/* filename: src/components/create-bar/ChartPanel/ChartPanel.module.css */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1rem;
}

.content {
  flex: 1;
  min-height: 230px;
}

.empty {
  color: var(--text-muted);
  font-style: italic;
}
